* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.clear{
    clear: both;
}

.page-3{
    height: 520px;
    overflow: hidden;
}

.header {
    margin: 48px 113px 0px;
    padding: 16px;
    position: relative;
}

.header .logo,
.nav-bar,
.header-button,
.nav-bar-list {
    display: inline-block;
}

.list {
    display: inline-block;
    padding: 20px;
    font-size: 12px;
}

.list1 {
    margin-left: 600px;
}

.nav-bar-list{
position: absolute;
top: 5px;

}

.header-button {
    padding: 8px 22px;
    font-size: 12px;
    color: white;
    font-weight: 400px;
    background-color: rgb(230, 88, 88);
    border: 2px solid rgb(230, 88, 88);
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.logo {
    position: absolute;
    top: 15px;
    left: 30px;
    height: 4px;
    width: 100px;
}

.list, .header-button:hover{
    cursor: pointer;
}
.header-button:hover{
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(75, 70, 70);
    transition: 0.4s;
}

/* -------page-1------------ */

.page-1 {
    position: relative;
    margin-top: 120px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.right-1{
    float: left;
}

.left-1{
    float: right;
}

.page-1 .p1{
    font-size: 48px;
    font-weight: 700px;
    margin-left: 142px;
    margin-bottom: 24px;
    margin-top: 35px;
}
.page-1 .p2{
    margin-left: 142px; 
    font-size: 18px;
    color: grey;
    margin-bottom: 24px;

}

.page-1-button{
padding: 12px 24px;
font-size: 16px;
border-radius: 5px;
font-weight: 400px;
}

.button1-1{
color: white;
background-color: #5267DF;
border: 1px solid #5267DF;
margin-left: 142px;
margin-right: 20px;
}

.button1-1:hover{
      background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: black;
   transition: 0.4s;
}
.button1-2{
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-right: 10px;

}

.button1-2:hover{
color: white;
background-color: #5267DF;
border: 1px solid #5267DF;
cursor: pointer;
transition: 0.4s;
}

.left-1 img{
    position: relative;
    top: 0px;
    right: 142px;
    width: 450px;
    height: 300px;
}

.border-radius{
    width: 620px;
    height: 290px;
    background-color: #5267DF;
    float: right;
    position: relative;
    bottom: 220px;
    right: 0px;
    z-index: -1;
    border-radius: 200px 0px 0px 200px;
}


 /* -------page-2------------  */

 .page-2{
  background:#f3f1f1;
    position: relative;
    
    
 }


 .p1-1{
   
    font-size: 24px;
padding-top: 80px;
    margin-bottom: 8px;
    padding-left: 0px;
    

 }

 .p2{

    font-size: 18px;
    color: grey;
    margin-bottom: 24px;
   
 }

 .page-2 .right-2{
    float: right;
    position: absolute;
    top: 250px;
    right:60px;
 }

 .page-2 .left-2 img{
    float: left;
    position: relative;
    top: 60px;
    left: 142px;
   height: 300px;
    width: 450px;
    z-index: 1;
 }

 .border-radius-2{
    width: 520px;
    height: 290px;
    background-color: #5267DF;
    float: left;
    position: relative;
    bottom: 145px;
    left: 0px;

    border-radius: 0px 200px 200px 0px;
 }

 .button1-1-1{
    color: white;
    border: 1px solid #5267DF;
    background-color: #5267DF;
 }

 .button1-1-1:hover{
     background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: black;
   transition: 0.4s;
 }

 /* -------page-3------------ */
.page-3{
 background:#f3f1f1;
    position: relative;   
}

 .right-3{
float: right;
 }

 .left-3{
    float: left;
 }

 .page-3 .left-3{
position: absolute;
top: 0px;
left: 142px;

 }

 .page-3 img{
     height: 370px;
    width: 440px;
    

 }

 .right-3{
    float: right;
    position: relative;
    z-index: 2;
    right: 142px;
    top: 0px;
}
 .border-radius-3{
width: 620px;
    height: 290px;
    background-color: #5267DF;
    float: right;
    position: relative;
    bottom: 220px;
    right: 0px;
 
    border-radius: 200px 0px 0px 200px;
 }

 /* -------page-4------------ */

.page-4{
    background:#f3f1f1;
    height:620px;
    position:relative;
}

/* LEFT */

.left-4{
    float:left;
    width:55%;
    height:620px;
    position:relative;
}

.left-4 img{
    width:520px;
    position:absolute;
    left:140px;
    top:70px;
    z-index:5;
}

/* Blue Shape */

.border-radius-4{
    width:560px;
    height:320px;
    background:#5368DF;

    position:absolute;
    left:0;
    bottom:-20px;

    border-radius:0 180px 180px 0;

    z-index:1;
}

/* RIGHT */

.right-4{
    float:right;
    width:35%;
    margin-top:180px;
    margin-right:100px;
}

.right-4 .p1-1{
    font-size:34px;
    font-weight:600;
    padding-top:0;
    margin-bottom:20px;
}

.right-4 .p2{
    font-size:18px;
    line-height:32px;
    color:#9194A1;
    margin-bottom:30px;
}
/* -------page-5------------ */

.page-5{
    position: relative;
}

/* ---------------- PAGE 5 ---------------- */

.page-5{
    width:100%;
    padding:80px 0;
    background:#fff;
    text-align:center;
}

.header-page-5{
    margin-bottom:70px;
}

.cards{
    width:1200px;
    margin:auto;
}

.browser-card{
    width:280px;
    background:#fff;
    display:inline-block;
    vertical-align:top;

    margin:0 35px;

    text-align:center;

    border-radius:12px;

    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.browser-card img{
    margin-top:40px;
}

.browser-card h2{
    margin-top:25px;
    font-size:18px;
    color:#252B46;
    font-weight:400;
}

.browser-card p{
    margin-top:10px;
    padding-bottom: 35px;
    color:#9194A1;
    font-size:16px;
}

.pahe-5 hr{
      background-color: #e1e4f1;
}
.dots{
    width:100%;
    margin-top:35px;
}

.browser-card button{
    width:230px;

    margin-top:5px;
    margin-bottom:15px;

    padding:15px;

    background:#5267DF;

    color:#fff;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;
}

.browser-card button:hover{
    background:#fff;
    color:#5267DF;
    border:2px solid #5267DF;
    transition:.3s;
}

/* staircase effect */

.card1{
    margin-top:0;
}

.card2{
    margin-top:45px;
}

.card3{
    margin-top:90px;
}
/* -------- Page-6 -------- */

.page-6{
    width:100%;
    padding:90px 0;
    background:#fff;
}

.page-6-heading{
    margin-bottom:60px;
}

.page-6-heading .p1-1{
    padding-top:0;
    font-size: 22px;
}

.page-6 .p2{
    font-size: 15px;
}
.faq{
    width:530px;
    margin:auto;
}

.faq-item{
    width:100%;
    border-top:1px solid #E4E4E4;
    padding:20px 0;
    position:relative;
}

.faq-item:last-child{
    border-bottom:1px solid #E4E4E4;
}

.faq-item p{
    font-size:16px;
    color:#252B46;
}

.faq-item span{
    position:absolute;
    right:0;
    top:18px;
    font-size:24px;
    color:#5267DF;
    cursor:pointer;
}

.faq-item:hover p{
    color:#FA5959;
    cursor:pointer;
    transition:.3s;
}

.more-btn{
    margin-top:50px;
    padding: 8px 20px 8px 20px;
}

/* ------------ PAGE-7 ------------ */

.page-7{

    background:#5267DF;

    padding:90px 0;

}

.joined{

    color:white;

    font-size:15px;

    letter-spacing:4px;

    margin-bottom:15px;

}

.heading-7{

    color:white;

    font-size:22px;

    font-weight:600;

    margin-bottom:20px;

    line-height:60px;

}

.page-7 input{

    width:350px;

    height:50px;

    border:none;

    border-radius:8px;

    padding-left:18px;

    font-size:15px;

    margin-right:20px;

    outline:none;

}

.contact-btn{

    width:130px;

    height:50px;

    border:none;

    border-radius:8px;

    background:#FA5959;

    color:white;

    font-size:15px;

    cursor:pointer;

}

.contact-btn:hover{

    background:white;

    color:#010101;

    border:2px solid #ffffff;

    transition:.3s;

}

/* ------------ FOOTER ------------ */

.footer{

    background:#252B46;

    padding:28px 100px;

}

.footer-logo{

    float:left;

}

.footer-logo img{

    width:150px;

}

.footer-links{

    float:left;

    margin-left:80px;

    margin-top:8px;

}

.footer-links a{

    text-decoration:none;

    color:white;

    margin-right:40px;

    font-size:14px;

}

.footer-links a:hover{

    color:#FA5959;

}

.footer-social{

    float:right;

    margin-top:5px;

}

.footer-social a{

    color:white;

    font-size:28px;

    margin-left:25px;

}

.footer-social a:hover{

    color:#FA5959;

}